@mixin text-ellips {
  display: block;
  display: -webkit-box;
  height: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
@mixin text-ellips-2 {
  display: block;
  display: -webkit-box;
  height: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
@mixin text-ellips-3 {
  display: block;
  display: -webkit-box;
  height: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
@mixin button {
  display: inline-block;
  padding: 9px 30px;
  background-color: $secondaryColor;
  border-radius: 7px;
  font-size: 14px;
  color: $whiteColor;
  &:hover {
    background-color: $primaryColor;
  }
}

@mixin d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin after-content {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@mixin flex-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@mixin h2-heading {
  text-align: center;
  font-weight: 500;
  color: $blackColor;
}
