.header{
    background-color: #ffffff41;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    padding-block: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: $transition;
    z-index: 4;
    .header-wrapper{
        .header-hamburger{
            ion-icon{
                color: $whiteColor;
                font-size: 34px;
            }
        }
        .header-logo{
            text-align: center;
            img{
                max-height: 60px;
                max-width: 300px;
            }
        }
        .social-item{
            color: $whiteColor;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            span{
                font-size: 14px;
                margin-left: 10px;
                font-family: $secondary-font;
            }
            ion-icon{
                font-size: 18px;
                margin-left: 8px;
                cursor: pointer;
                &:hover{
                    color: $primaryColor;
                }
            }
        }
    }
}
.header-two{
    padding-block: 10px;
    background-color: $primaryColor;
    position: relative;
}
.header.active { 
    padding-block: 7px; 
    background-color: $primaryColor;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: $transition;
    z-index: 4;
    .header-logo{
        text-align: center;
        img{
            max-height: 45px;
            max-width: 300px;
        }
    }
}

// Header Offcanvas
.headerOffcanvas{
    width: 430px;
    background-color: $primaryColor;
    height: 100vh;
    overflow-y: scroll;
    .btn-close{
        position: absolute;
        top: 12px;
        right: 12px;
    }
    .offcanvas-header{
        background-color: $whiteColor;
        padding: .4rem 1rem;
    }
    .offcanvas-title{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        img{
            max-width: 60px;
            object-fit: contain;
            margin-right: 15px;
        }
    }    
}

.headerAccordion{
    .accordion-item{
        background-color: transparent;
        border: none;
        margin-bottom: 8px;
        &:first-of-type{
            border-top-left-radius: 0px !important;
            border-top-right-radius: 0px !important;
        }
        &:first-of-type .accordion-button {
            border-top-left-radius: 0px !important;
            border-top-right-radius: 0px !important;
        }
        &:last-of-type{
            border-bottom-left-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
        }
        &:last-of-type .accordion-button {
            border-bottom-left-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
        }
        .accordion-button{
            background-color: #0E49B5;
            color: $whiteColor;
            padding: 0rem 1rem;
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .close-icon{
                color: #bfbfbf;
            }
           &:not(.collapsed) {
                box-shadow: none;
                .close-icon{
                    transform: rotate(-180deg);
                    color: #fff;
                }
            }
            &::after{
                display: none;
            }
            &:focus{
                box-shadow: none;
                border-color: transparent;
            }
            ion-icon{
                font-size: 22px;
                margin-right: 7px;
            }
        }
        .accordion-body{
            ul{
                margin-left: 12px;
                li{
                    margin-bottom: 8px;
                    list-style: disc;
                    color: $offwhiteColor;
                    a{
                        font-size: 14px;
                        color: $offwhiteColor;
                        font-weight: 300;
                        font-family: $primary-font;
                        &:hover{
                            color: $yellowColor;
                        }
                    }
                }
            }
        }
    }
}